/* Layout */
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding-block: 4rem;
    width: 90%;
    margin: auto;
}

/* LEFT SIDE */
.contact-left {
    display: flex;
    flex-direction: column;
    // gap: 1.5rem;

    h1 {
        font-size: clamp(2rem, 5vw, 3rem);
        line-height: 1.2;
        margin-bottom: 1rem;

        span {
            color: var(--color-accent);
        }
    }

    p {
        color: var(--color-on-surface);
        max-width: 450px;
        line-height: 1.6;
    }
}

/* Info Items */
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1rem;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 1rem;

    mat-icon {
        display: flex; // 🔥 IMPORTANT
        align-items: center;
        justify-content: center;

        height: 2.4rem;
        width: 2.4rem;
        font-size: 1.3rem;

        background: var(--glass-bg);
        border-radius: var(--radius-sm);
        color: var(--color-accent);

        flex-shrink: 0; // prevents shrinking
    }

    mat-icon {
        box-shadow: 0 0 10px rgba(99, 102, 241, 0.2);
    }

    span {
        font-size: 0.75rem;
        opacity: 0.7;
    }

    p {
        margin: 0;
        font-weight: 600;
    }
}

/* RIGHT SIDE */
.contact-right {
    display: flex;
    justify-content: end;
}

/* Glass Card */
.contact-card {
    width: 100%;
    // max-width: 560px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem;
    border-radius: var(--radius-sm);

    background: var(--glass-bg);
    backdrop-filter: var(--glass-blur);

    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: var(--shadow-soft);

    transition: 0.3s ease;
}

.contact-card:hover {
    transform: scale(1.02);
}

/* Heading */
.contact-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* Form Row */
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* Inputs */
input,
textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: var(--radius-sm);

    background: var(--surface-container-highest);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    color: var(--color-on-surface);
    outline: none;
    font-family: inherit;
}

/* Focus Effect */
input:focus,
textarea:focus {
    border-bottom: 1px solid var(--color-accent);
}

/* Button */
.btn-primary {
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: var(--radius-sm);
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    // box-shadow: 0 0 20px var(--color-accent);
    background-color: var(--color-accent);
}

.privacy-note {
    font-size: 0.9rem;
    color: #C5C6C5;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .contact {
        grid-template-columns: 1fr;
        padding-block: 2rem 4rem;
        width: 100%;
    }

    .form-row {
        grid-template-columns: 1fr;
    }

    .contact-card {
        padding: 1rem;
    }

    .contact-right {
        justify-content: stretch;
    }

    .info-item p {
        text-wrap: wrap;
        font-size: 0.875rem;
    }
}